<%
	/**
	 * @name sitemap-list.ejs */

	// выгружаем инструменты
	const {__} = app.module;
	const {list = app.data.sitemap} = app.entry;
%>
<% function sitemapList (items) { %>
	<ul>
		<% items.forEach(item => { %>
		<li>
			<% if (item.href) { %>
				<a href="<%- item.href %>"><%- __(item.title) %></a>
			<% } else { %>
				<span><%- __(item.title) %></span>
			<% } %>
			<% if (Array.isArray(item.children)) { %>
				<%- sitemapList(item.children) %>
			<% } %>
		</li>
		<% }); %>
	</ul>
<% } %>
<div class="sitemap">
	<%- sitemapList(list) %>
</div>
